#log-content-wrapper{
    width:80vw;
    #log-review-container{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        #log-menu-logo{
            img{
                width:20vw;
            }
        }
    }
    #log-review-wrapper{
        // border:1px solid black;
        margin-bottom:1em;
        .log-menu-item{
            width:25vw;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            margin:1em;
            select{
                width:12vw;
                font-size:1.10em;
            }
            &:last-child{
                justify-content: right;
                button{
                    background-color: transparent;
                    border:none;
                    padding:2px;
                    &:hover{
                        font-weight: 900;
                        color:red;
                        background-color:black;
                    }
                }
            }
        }
    }

    #table-wrapper{
        height:40vh;
        width:100%;
        overflow-y: scroll;
        border: 10px solid rgba(0,0,0,0.59);
        .log-item{
            width:100%;
            display: grid;
            grid-template-columns: repeat(7,auto);
            grid-column-gap: 0px;
            grid-row-gap: 0px; 
            P{
                text-align:center;
                font-size:1em;
                // width:100%;
                border:1px solid black;
            }
            .id-wrapper{
                width:2em;
            }
            .name-wrapper, .approved-wrapper{
                width:10em;
            }
            .rank-wrapper{
                width:11em;
            }
            .log-wrapper{
                width:70em;
            }
            .scp-wrapper{
                width:6em;
            }
            .time-wrapper{
                width:10em;
            }
        }
    }
    

}